{% extends 'base.html.twig'%}
{% block body %}
<article>
<h2>De la vie sur les planètes-océans ? Pourquoi pas...</h2>
<div class ="metadata"> ecrit le 22/04/2022 </div>

<div class ="content"> 
<img src="https://img.lemde.fr/2022/06/23/0/0/2081/1654/664/0/75/0/283d130_1655977218922-pns-2851513.jpg" >
<hr>
<p>Si de minuscules traces d’eau ancienne sur Mars font frémir d’espoir tous les amateurs d’extraterrestres, il faut imaginer quel effet ferait une planète-océan. Ce type d’astre hypothétique serait recouvert d’un océan global profond de quelques centaines de kilomètres. De quoi en faire un vivier idéal pour le développement de la vie ? En réalité, les obstacles sont nombreux mais une étude parue dans Nature Communications le 21 juin vient d’en éliminer un, et de taille.

« Nous avons montré que ces planètes pouvaient procéder à des échanges entre le noyau et l’océan, raconte le principal auteur, Jean-Alexis Hernandez. Et ce, malgré la présence d’une épaisse couche de glace » entre les deux, que les modèles prédisent. Ce chercheur au synchrotron européen de Grenoble s’est intéressé à cette couche de glace. Il s’agirait d’une glace de type VII, une forme cristalline qui se crée là où la température et la pression sont très fortes. Rien à voir avec les glaçons d’un cocktail, qui flottent à sa surface : cette glace est plus dense que l’eau et coule. Résultat, le fond de l’océan serait constitué d’une épaisse muraille de glace qui empêcherait tout contact entre l’océan et le noyau.

« La théorie voulait que cette glace soit un isolant chimique, précise Jean-Alexis Hernandez. Mais finalement, elle n’est pas si imperméable et nos simulations démontrent qu’elle peut inclure certains éléments et les remonter vers la surface. »

Migration des électrolytes
Ces éléments, ce sont les électrolytes, des substances conductrices car chargées en ions mobiles comme le chlorure de sodium (le sel), le potassium ou le chlore. Le sodium présent dans le noyau rocheux de la planète peut se retrouver piégé dans la glace au niveau atomique.</p>


</div>
</article>
{% endblock %}