{% extends 'base.html.twig'%}
{% block body %}
<article>
<h2>Avec sa « Grande Saga du Tour de France », France 2 brigue le maillot jaune</h2>
<div class ="metadata"> ecrit le 29/06/2022 </div>

<div class ="content"> 
<img class="image" style= "width: 20px, height: 30px;" src="https://img.lemde.fr/2022/06/24/0/0/3000/2000/664/0/75/0/10792ab_1656080864239-079-img0800132961.jpg" >
<hr>
<p>Le documentaire met en images cette « république de juillet » – ses visages, ses couleurs, ses émotions et ses souvenirs. Au hasard, on y voit le général de Gaulle presque en simple spectateur au passage du peloton par sa ville de Colombey-les-Deux-Eglises (Haute-Marne) en 1960, le défilé des stars hollywoodiennes lors des années de règne (effacées depuis) de Lance Armstrong ou un Raymond Poulidor figé dans son rôle d’éternel second recevoir la bise d’un Jacques Anquetil lui lâchant : « Tu fais un beau perdant. » Que du classique.

Grand moment de communion
Chaque plan, chaque commentaire rappellent l’idée d’une épreuve qui est d’abord un grand moment de communion populaire transcendant les classes et les générations. La course en elle-même n’est jamais qu’un élément parmi d’autres. Les maniaques des classements peuvent passer leur chemin. Cette « grande saga » s’adresse à un large public, celui qui prend place dans son canapé chaque été autant pour cette France désormais vue d’hélicoptère – mais jamais moche ni périurbaine – que pour encourager Julian Alaphilippe ou maudire la malchance de Thibaut Pinot.

Il n’en reste pas moins que la beauté des images et la richesse des archives parviennent à faire oublier ce côté très didactique. Certaines arrivent même à raconter une autre réalité, moins policée. Dans la partie sur le maillot jaune, on est saisi par ce micro-trottoir d’époque où des spectateurs crachent leur haine d’Eddy Merckx, monarque trop belge et trop sûr de lui à leur goût. Plus loin, on voit le quintuple vainqueur de l’épreuve nez à nez avec ce Dupont-la-Joie qui l’a frappé au foie dans la montée du Puy-de-Dôme en 1975. Confondu, il se fait alors tout petit (« je ne l’ai même pas touché »).
</p>
</div>
</article>
{% endblock %}